@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;

}

.header {
    background-color: #b6e6ff;
    width: 250px;
    text-align: center;
    margin: 10px auto;
    border-top-style: double;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: ridge;
    border-width: 3px 6px 6px 3px;
    border-top-color: #00bfff;
    border-right-color:#f5c73d;
    border-bottom-color: #24f5c0;
    border-left-color: #1313ec;
    font-weight: 700;
    text-shadow: 2px 2px 1px white; 
    padding: 5px;
}

h1 {
    text-transform: capitalize;
    font-weight: 900;
}

.animals{
    width: 55%;
    margin: 20px auto;
    height: 200px;
    /* align-items: center; */
}

.animals div img {
    width: 100%; 
    height: 100%;
    padding: 5px;

    /* display: block;
    margin-left: auto;
    margin-right: auto; */
}

.animals div {
    display: inline-block;
    margin-left: 60px;
    width: 200px;
    height: 150px;
    border: 4px dotted green;
    margin-top: 30px;
    
}

#fox-img{
    margin-top: 0;
    vertical-align: top;
}

#fox:hover {
    transform: scale(0.9);
}

.boxes {
    width: 55%;
    margin: 5px auto;
    height: 80px;
    text-align: center;
}

.boxes p{
    display: inline-block;
    background-color: #2db577;
    border: 4px dotted black;
    padding: 10px;
    font-size: 2em;
    font-weight: 400;
    color: white;
    margin: 0 10px;
    
}

.cBox {
    background-clip: content-box;
}

.pBox {
    background-clip:padding-box;
}

.bBox {
    background-clip:border-box;
}

.sec2 {
    border-top: 2px dotted red;
}

h2 {
    text-transform:lowercase;
    font-weight: 700;
}

.scale {
    width: 250px;
    margin: 20px auto;
    text-align: right;
    color: white;
    font-weight: 500;
    font-size: 0.8em;
}

.p0 {
    background-color: #bd2873;
}

.p1 {
    background-color: #d22d80;
}

.p2 {
    background-color: #d7428c;
}

.p3 {
    background-color: 	#db5799;
}

.p4 {
    background-color: #e06ca6;
}

.p5 {
    background-color: #e481b3;
}

.p6 {
    background-color: #e996bf;
}

.p7 {
    background-color: #1fad8a;
}

.p8 {
    background-color: #b3d1ff;
}

.p9 {
    background-color: #99c2ff;
}

.p10 {
    background-color: #80b3ff;
}

.p11 {
    background-color: #66a3ff;
}

.p12 {
    background-color: #4d94ff;
}

.p13 {
    background-color: #3385ff;
}

.p14 {
    background-color: #1a75ff;
}











